* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    margin: 0 auto;

    width: 100vw;
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 1vw;
    // letter-spacing: 1px;
    background-color: #060606;


    @media(max-width: 1366px) {
        overflow-x: hidden;
    }
}

h1,
h2,
h3 {
    font-weight: normal;
    color: white;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    margin: 0 auto;
    max-width: 1624px;
    overflow-x: hidden;
    padding: 0 5%;
}

.hero {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;

    background-image: url('/assets/img/bgbg.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 80%;

    @media(max-width: 960px) {
        background-image: none;
        flex-direction: column;
        overflow-y: visible;
    }

    @keyframes bg-scale {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.2) translateX(-10px)
        }

        100% {
            transform: scale(1)
        }
    }

    .hero_profile_img_bg-scale {
        position: absolute;
        width: 100%;
        animation: bg-scale 8s linear infinite;
        top: -63%;
        left: 110%;

        @media(max-width: 960px) {
            top: -20%;
            left: 10%;
        }
    }

    .hero_profile_img_bg-scale2 {
        width: 30%;
        position: absolute;
        animation: bg-scale 6s linear infinite;
        top: 35%;
        left: 0%;

        @media(max-width: 960px) {
            top: 70%;
            left: -2%;
        }
    }

    .hero_profile {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 35px;
        width: 50%;

        @media(max-width: 960px) {
            margin-top: 50px;
            text-align: center;
            width: 95%;
        }

        @keyframes rotating {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }

        .rotating {
            animation: rotating 100s linear infinite;
        }


        .hero_profile_img {
            width: 300px;
            border-radius: 50%;
            filter: drop-shadow(0px 0px 2px #0190cd);

        }

        .hero_profile_img_cyclone-blue {
            position: absolute;
            top: -90px;
            border-radius: 50%;
            width: 500px;
            z-index: -1;
            opacity: 1;
        }


        .hero_profile_text {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            .hero_profile_text_h1 {
                font-size: 32px;
                // color: #F5F0D4;
            }

            .hero_profile_text_h3 {
                font-size: 19px;
            }

            @keyframes textShine {
                0% {
                    background-position: 0% 50%;
                }

                100% {
                    background-position: 100% 50%;
                }
            }

            .gradient {
                margin: 0px;
                background: linear-gradient(to right,
                        #7953cd 20%,
                        #00affa 30%,
                        #0190cd 70%,
                        #764ada 80%);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                text-fill-color: transparent;
                background-size: 500% auto;
                animation: textShine 5s ease-in-out infinite alternate;
            }
        }
    }

    .hero_about {
        width: 50%;

        @media(max-width: 960px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 95%;
        }

        p {
            font-size: 16px;
            color: #A4A5A6;
            width: 75%;


            @media(max-width: 960px) {
                width: 95%;
                text-align: center;
            }
        }

        .contacts {
            display: flex;
            gap: 10px;

            img {
                width: 30px;
            }
        }

        img {
            width: 20px;
        }
    }

}


/************************portfolio**********************/

.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;


    .h2_img-portfolio {
        position: relative;
        overflow: hidden;
        height: 48px;
        margin-bottom: 50px;

        @media(max-width: 960px) {
            margin-top: 30px;
            margin-bottom: 30px;
        }

        .h2_img {
            top: 0;
            left: 0;
            width: 250px;
        }

        .h2_img2 {
            position: absolute;
            z-index: -1;
            width: 600px;
            height: 400px;
            left: -70%;
            top: -70px;
        }

        @keyframes rotating {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }

        .rotating {
            animation: rotating 40s linear infinite;
        }
    }

    .portfolio_items {
        display: flex;
        flex-direction: column;
        align-items: center;

        .portfolio_item {
            position: relative;
            width: 100%;

            .portfolio_item_border {}

            .portfolio_item_img {
                width: 100%;
            }

        }
    }
}